*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1,5;
    background: linear-gradient(rgb(45, 11, 124) 30%, rgb(92, 0, 128));
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    margin: auto;
}

.logo {
    width: 200px;
}

.navmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    height: 200px;
    background-color: rgb(9, 10, 12);
}

.navmenu ul {
    display: flex;
    justify-content: space-around;
}

.navmenu ul li {
    padding: 0 10px ;
}

.navmenu ul li a {
    color: darkgoldenrod;
}

.navmenu ul li a:hover {
    position: relative;
    bottom: -15%;
}

.navmenu ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

main {
    min-height: 90vh;
    background: url("../images/accueil/consolemix.jpg") no-repeat center/ cover;
}
 
h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 100px;
    color: rgb(90, 166, 252);
    text-shadow: 0.05em 0.03em 0.05em rgb(167, 30, 231);
}

p {
    color: rgb(230, 174, 34);
}

.section1{
    padding:8%;
}


.section1 p {
    font-size: 25px;
    text-align: center;
    font-size: 40px;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section2 {
    min-height: 90vh;
    background: url("../images/accueil/ingeson.jpg") no-repeat center/ cover;
}

.section3 {
    font-size: 25px;
    text-align: center;
    padding: 8%;
}

.section3 p {
    font-size: 40px;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section4 {
    height:50vh;
    display: flex;
}

.section4 .micro {
    height: 100%;
    width: 50%;
    background: url("../images/accueil/rode.jpg") no-repeat center/ cover;
}

.section4 .photo{
    height:100%;
    width: 50%;
    background: url("../images/accueil/canon.jpg") no-repeat center/ cover;
}

.section5 {
    font-size: 25px;
    text-align: center;
    padding: 8%;
}

.section5 p {
    font-size: 25px;
    text-align: center;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section5 p {
    font-size: 50px;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section6 {
    height: 95vh;
    width: 100%;
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.section6::-webkit-scrollbar {
    display: none;
}   

.din{
    background: url("../images/artistes/din.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.torec {
    background: url("../images/artistes/torec.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.smay {
    background: url("../images/artistes/smay.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.wess {
    background: url("../images/artistes/wess.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;;
}

.nera {
    background: url("../images/artistes/nera.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.reseau {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(126, 91, 150);
}

.reseau ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fab {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.fab:hover{
    position: relative;
    top: -15%;
    text-shadow: 0.07em 0.09em 0.05em rgb(55, 58, 61);
}

.insta i:hover{
    color: #e41ec9;
}
.snap i:hover{
    color: rgb(240, 219, 35);
}
.fb i:hover{
    color: rgb(50, 50, 230);
}
.twi i:hover{
    color: rgb(75, 135, 247);
}
.yt i:hover{
    color: rgb(161, 15, 15);
}
.sc i:hover{
    color: rgb(231, 139, 34);
}

footer {
    margin-bottom: 20px;
}

.mentions {
    display: flex;
    justify-content: space-around;
}

.mentions li a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    
}

.mentions li a:hover{
    position: relative;
    top: -15%;
}

