/* FEUILLE DE STYLE PAGE D'ACCUEIL */


/*CSS pour la mise en forme de base de la page html*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1,5;
    background: linear-gradient(rgb(45, 11, 124) 30%, rgb(92, 0, 128));
}


main {
    min-height: 85vh;
    background: url("../images/accueil/consolemix.jpg") no-repeat center/ cover;
}
 
h1 {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;    
    padding-top: 30px;
    font-size: 80px;
    color: rgb(85, 159, 243);
    text-shadow: 0.03em 0.02em 0.01em rgb(255, 255, 255);
}


p {
    color: rgb(230, 174, 34);
}

.section1{
    padding:7%;
}

.section1 p {
    text-align: center;
    font-size: 35px;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section2 {
    min-height: 90vh;
    background: url("../images/accueil/ingeson.jpg") no-repeat center/ cover;
}

.section3 {
    font-size: 25px;
    text-align: center;
    padding: 7%;
}

.section3 p {
    font-size: 40px;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section4 {
    height:50vh;
    display: flex;
}

.section4 .micro {
    height: 100%;
    width: 50%;
    background: url("../images/accueil/rode.jpg") no-repeat center/ cover;
}

.section4 .photo{
    height:100%;
    width: 50%;
    background: url("../images/accueil/canon.jpg") no-repeat center/ cover;
}

.section5 {
    text-align: center;
    padding: 7%;
}

.section5 p {
    font-size: 25px;
    text-align: center;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section5 p {
    font-size: 50px;
    text-shadow: 0.04em 0.05em 0.05em rgba(0, 0, 255, 0.904);
}

.section6 {
    height: 95vh;
    width: 100%;
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.section6::-webkit-scrollbar {
    display: none;
}   

.din{
    background: url("../images/artistes/din.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.torec {
    background: url("../images/artistes/torec.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.smay {
    background: url("../images/artistes/smay.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}

.wess {
    background: url("../images/artistes/wess.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;;
}

.nera {
    background: url("../images/artistes/nera.jpg") no-repeat center/ cover;
    height: 100%;
    min-width: 50vw;
}



/* Nouvelles règles pour le format tablette (entre 400px et 990px)*/ 
@media screen and (min-width: 401px) and (max-width: 990px){

    main {
        min-height: 60vh;
    }

    h1{
        font-size: 45px;
    }
    
    .section1 p {
        font-size: 25px;
    }

    .section2 {
        min-height: 65vh;
    }
    
    .section3 p {
        font-size: 25px;
    }

    .section4 {
        height:40vh;
    }

    .section5 p {
        font-size: 25px;
    }

    .section6 {
        height: 70vh;
}

}

/* Nouvelles règles pour le format mobile (420px)*/ 
@media screen and (max-width: 420px){
    main {
        min-height: 60vh;
    }

    h1{
        font-size: 35px;
    }
    
    .section1 p {
        font-size: 17px;
    }

    .section2 {
        min-height: 40vh;
    }
    
    .section3 p {
        font-size: 17px;
    }

    .section4 {
        height:30vh;
    }

    .section5 p {
        font-size: 18px;
    }

    .section6 {
        height: 45vh;
    }
}